In [1]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.2.26-py2.py3-none-any.whl (62 kB)
     -------------------------------------- 63.0/63.0 kB 676.4 kB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.5 in c:\users\91958\anaconda3\lib\site-packages (from yfinance) (1.23.5)
Requirement already satisfied: pytz>=2022.5 in c:\users\91958\anaconda3\lib\site-packages (from yfinance) (2022.7)
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.8-cp310-cp310-win_amd64.whl (35 kB)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: pandas>=1.3.0 in c:\users\91958\anaconda3\lib\site-packages (from yfinance) (1.5.3)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\91958\anaconda3\lib\site-packages (from yfinance) (4.11.1)
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     -------------------------------------- 112.2/112.2 kB 1.1 MB/s eta 0:00:00
Requirement already satisfied: appdirs>=1.4.4 in c:\users\91958\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Collecting requests>=2.31
  Using cached requests-2.31.0-py3-none-any.whl (62 kB)
Requirement already satisfied: lxml>=4.9.1 in c:\users\91958\anaconda3\lib\site-packages (from yfinance) (4.9.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\91958\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.2.post1)
Requirement already satisfied: six>=1.9 in c:\users\91958\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\91958\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\91958\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\91958\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (1.26.14)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\91958\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\91958\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\91958\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Installing collected packages: multitasking, requests, html5lib, frozendict, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.28.1
    Uninstalling requests-2.28.1:
      Successfully uninstalled requests-2.28.1
Successfully installed frozendict-2.3.8 html5lib-1.1 multitasking-0.0.11 requests-2.31.0 yfinance-0.2.26

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
conda-repo-cli 1.0.41 requires requests_mock, which is not installed.
conda-repo-cli 1.0.41 requires clyent==1.2.1, but you have clyent 1.2.2 which is incompatible.
conda-repo-cli 1.0.41 requires nbformat==5.4.0, but you have nbformat 5.7.0 which is incompatible.
conda-repo-cli 1.0.41 requires requests==2.28.1, but you have requests 2.31.0 which is incompatible.

In [2]:
import yfinance as yf

In [5]:
df = yf.download(tickers='FB',start='2020-01-01', end='2020-12-31', progress=True)

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['FB']: Exception('%ticker%: No timezone found, symbol may be delisted')

In [6]:
df.head()

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

## Amazon Time Series data

In [6]:
data = yf.download('AMZN',start='2019-01-01', end='2019-12-31', progress=False)

In [7]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-12-31,1510.800049,1520.760010,1487.000000,1501.969971,1501.969971,6954500
2019-01-02,1465.199951,1553.359985,1460.930054,1539.130005,1539.130005,7983100
2019-01-03,1520.010010,1538.000000,1497.109985,1500.280029,1500.280029,6975600
2019-01-04,1530.000000,1594.000000,1518.310059,1575.390015,1575.390015,9182600
2019-01-07,1602.310059,1634.560059,1589.189941,1629.510010,1629.510010,7993200